<div class="form-group clearfix">
    <label class="col-md-2 control-label" for="identifier"><span class="required">*</span> {{:: 'alias' | translate}}</label>
    <div class="col-md-6">
        <input kc-no-reserved-chars class="form-control" id="identifier" type="text" ng-model="identityProvider.alias" data-ng-readonly="!newIdentityProvider" required>
    </div>
    <kc-tooltip>{{:: 'identity-provider.alias.tooltip' | translate}}</kc-tooltip>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="jwksUrl"><span class="required">*</span> {{:: 'apple.jwksUrl' | translate}}</label>
    <div class="col-md-6">
        <input ng-model="identityProvider.config.jwksUrl" id="jwksUrl" class="form-control" required>
    </div>
    <kc-tooltip>{{:: 'apple.jwksUrlToolTip' | translate}}</kc-tooltip>
</div>